body{
  height:400px;
  position: fixed;
  bottom: 0;
}

a:focus, a:hover{
  outline: none;
  text-decoration: none;
}

em {
  font-size: 0.8em;
  color: #ddd;
}

.last-message > em {
  margin-right: 10px;
}

/* Couleurs Paris 1 pour les boutons */
a > span, .badge{
  color: #00326e;
}

.active > a > span, .glyphicon-star {
  color: #c89108;
}

.badge {
  color: #ffffff;
  background-color: #00326e;
}

.active > a > .badge {
  color: #ffffff;
  background-color: #c89108;
}

/*Chatbox CSS*/

.title{
  font-size: 1.1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1px;
}

.button-container{
  display: flex;
  align-items: center;
  height: 46px;
  width: 100%;
  padding: 5px;
}

.hover-container:hover{
  background-color: #f5f5f5;
}

.user-container{
  width: 80%;
}

.user-name{
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-left: 10px;
  color: black;
}

.last-message {
  width: 100%;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.tab-pane{
  padding: 5px;
}

.tab-content{
  overflow-y: auto;
  height: 323px;
}

/*Msgbox CSS*/


.col-md-2, .col-md-10{
  padding:0;
}
.panel{
  height: 400px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.container{
  overflow:hidden;
  width: 300px;
  height: 400px;
  bottom:0;
  right: 0;
  position:fixed;
  float:right;
  z-index: 0;
}

.chat-window{
  width: 300px;
  height: 400px;
  bottom:0;
  right: 0;
  margin-right: 10px;
  position:fixed;
  float:right;
  margin-left:10px;
  z-index: 0;
}

.tooltip{
  white-space: nowrap;
}

.msg-window{
  width: 300px;
  height: 400px;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  position:fixed;
  float:right;
  margin-left:10px
  z-index: 100;
}
.chat-window > div > .panel{
  border-radius: 5px 5px 0 0;
}
.msg_container_base{
  margin: 0;
  padding: 0 10px 0px 10px;
  height:310px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  height: 35px;
}

/*.glyphicon {
  color: #00326e;
}*/

.chatbox-minimized{
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 150px;
  height: 30px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.top-bar:hover, .chatbox-minimized:hover, .msgbox-minimized:hover {
  cursor: pointer;
}

.top-bar-main {
  background: #337ab7;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.form-group {
  margin: 0px;

}

.form-group:focus {

}

.msg_receive{
  padding-left:0;
  margin-left:0;
}
.msg_sent{
  margin-right:0;
}
.messages {
  background: white;
  padding: 5px;
  border-radius: 2px;
  max-width:100%;
}
.msg_container {
  border-bottom:1px solid #ddd;
  padding: 5px 10px 5px 10px;
}
img {
  vertical-align: middle;
  display: block;
  width: 100%;
}

.avatar {
  width: 32px;
  height: 32px;
  margin: 2px 6px;
  border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  background-size: 32px;
  background-position: 0 -8px;
  display: inline-block;
  float: left;
}
.base_receive > .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #FFF;
  border-left-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 1px 1px 2px rgba(black, 0.2);
}

/*.msg_sent > time{
  float: right;
}*/

/*.msg_container_base::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}*/

.btn-group.dropup{
  position:fixed;
  left:0px;
  bottom:0;
}

.input_container {
  background: white;
  height: 50%;
}

.input_send{
  font-size: 1.3em;
  display: inline-block;
  float: right;
  width: 15%;
  height: 100%;
  background-color: white;
  box-sizing:border-box;
  padding: 5px;
  padding-top: 12px;
}

.input_file_upload{
  display: block;
  float: left;
  height: 50%;
  background-color: white;
  box-sizing:border-box;
  padding-left:4px;
  padding-right: 4px;
}

#input-text{
  height: 25px;
  padding: 0px;
  resize: none;
  border: none;
  width:85%;
  display:inline;
  box-sizing:border-box;
}

#input-text:focus{
  outline: none;
}

.progress{
  background-color: white;
  border-radius: 0px;
}

.progress-bar{
  background-color: #00326e;
}

.search-container{
  position: absolute;
  bottom: 0px;
  width: 268px;
  border-top: 1px solid #ddd;
}

#search{
  border: 0px;
  width: 100%;
}

#search:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-footer{
  padding: 0px;
}

.msgbox-title{
  font-size: 15px;
  height: 22px;
  text-overflow: ellipsis;
  display: inline-block;
}

.button_container{
  display: inline-block;
  text-align: right;
  font-size: 1.3em;
  padding: 0px;
}

.title_container{
  padding-left: 0px;
}

.dropdownButton{
  border: 0px;
}

.chat_button{
  margin-left: 5px;
}

.status_icone{
  margin-right: 5px;
  display: inline-block;;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dot_online {
  background: #009E1D;
}

.dot_busy {
  background: #EA0006;
}

.dot_offline {
  background: #ddd;
}

.main_body{
  height: 100%;
}


.dropdown{
  padding: 0px;
  display: inline-block;
}

.dropup{
  position: fixed;
  bottom: 0px;
  left : 10px;
}

.chatbox_user_status{
  float: right;
}
